name: faucet

services:
  caddy:
    image: caddy:2.10-alpine
    depends_on:
      - php-fpm
    ports:
      - "127.0.0.1:8080:80"
    restart: on-failure
    volumes:
      - ./docs/caddy/Caddyfile-dev:/etc/caddy/Caddyfile
      - ./web:/var/www/signet-faucet/web
      - caddy_config:/config
      - caddy_data:/data

  php-fpm:
    image: 1maa/php-dev:8.4
    restart: on-failure
    env_file:
      - .env.dist
    volumes:
      - .:/var/www/signet-faucet
    working_dir: /var/www/signet-faucet

  valkey:
    image: valkey/valkey:8-alpine
    restart: on-failure
    volumes:
      - valkey_data:/data

  knots:
    image: 1maa/bitcoin:v29.2.knots20251010
    healthcheck:
      test: netstat -ltn | grep 18443 > /dev/null
      start_interval: 125ms
      start_period: 500ms
    restart: on-failure
    volumes:
      - ./docs/knots/bitcoin.conf:/home/bitcoin/.bitcoin/bitcoin.conf
      - knots_data:/home/bitcoin/.bitcoin

volumes:
  caddy_config:
  caddy_data:
  knots_data:
  valkey_data:
