<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="autoload.php"
         cacheResult="false"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="BBO Faucet test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <env force="true" name="FAUCET_BITCOIN_RPC_ENDPOINT" value="http://node:18443"/>
        <env force="true" name="FAUCET_BITCOIN_RPC_PASS" value="knots"/>
        <env force="true" name="FAUCET_BITCOIN_RPC_USER" value="knots"/>
        <env force="true" name="FAUCET_NAME" value="Testing Faucet"/>
        <env force="true" name="FAUCET_REDIS_ENDPOINT" value="redis:6379"/>
        <env force="true" name="FAUCET_REDIS_PREFIX" value="testing:"/>
    </php>

    <coverage>
        <report>
            <clover outputFile="build/coverage.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>
