<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="BBO Faucet test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <env name="RPC_PASS" value="knots"/>
        <env name="RPC_URL" value="http://knots:18443"/>
        <env name="RPC_USER" value="knots"/>
    </php>

    <coverage>
        <report>
            <clover outputFile="build/coverage.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>
