<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ faucet_name }}</title>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" integrity="sha384-u1DpPo/VC1cCewPdLA1ujElPdm1c/ZVa5MNAV6930PlrYYXhoKH/+hui6tE7szxu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="content">
        <section class="hero is-dark has-padding-top-70">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column is-12-desktop">
                            <p class="is-size-4-tablet is-size-6 has-text-centered">{{ faucet_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6-desktop is-8-tablet">
                        {% include 'form.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
